@model CarSalesCompanyModels.Vehicle

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Vehicle</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Vehicle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Vehicle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleType1.TypeOfVehicle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleType1.TypeOfVehicle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EngineType1.TypeOfEngine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EngineType1.TypeOfEngine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Manufacturer.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleExtra.Id_Extras)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleExtra.Id_Extras)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YearOfProduction)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearOfProduction)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransmissionType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransmissionType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Colour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Colour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CoupeType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoupeType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sold)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sold)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
