@model CarSalesCompanyModels.SalesHistory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SalesHistory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vehicle.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateSale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateSale)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
